optuna
numpy
opencv-contrib-python
pillow
openai
pyyaml
streamlit
streamlit-local-storage
streamlit-image-comparison @ git+https://github.com/DYY-Studio/streamlit-image-comparison.git@st_iframe
scikit-image
PyGithub
RestrictedPython