optuna
numpy
opencv-contrib-python
pillow
openai
pyyaml
streamlit
streamlit-local-storage
scikit-image
PyGithub
RestrictedPython

modelscope
torch
torchvision
transformers
huggingface_hub
diffusers
trafilatura
einops
safetensors
scipy
open-clip-torch
lpips
